<div class="bg-gray-900 text-gray-100 bold">
    <div class="py-24 bg-gray-800/50">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold mb-12 text-center">{{frontend_development_skills}}</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-6">
                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/angular.png" alt="Angular Logo" class="w-10 h-10 mb-1">
                        <h3 class="font-medium">{{angular}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#fe30d2] transition-all duration-300 group-hover:w-full"></span>
                </div>
                
                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/ts.png" alt="Typescript Logo" class="w-11 h-10 mb-2">
                        <h3 class="font-medium">{{typescript}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#007bcd] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/js.png" alt="Javascript Logo" class="w-11 h-10 mb-2">
                        <h3 class="font-medium">{{javascript}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#ffd600] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/ngxs.svg" alt="NGXS Logo" class="w-16 h-6">
                        <h3 class="font-medium mt-1">{{ngxs}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#4938ef] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/scss.svg" alt="Scss Logo" class="w-16 h-11 mb-1">
                        <h3 class="font-medium">{{scss}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#d1629b] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/tailwind.png" alt="Tailwind CSS Logo" class="w-14 h-8 mb-2">
                        <h3 class="font-medium">{{tailwind}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#07b6d5] transition-all duration-300 group-hover:w-full"></span>
                </div>
                
                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/jest.png" alt="Jest Logo" class="w-10 h-10 mb-1">
                        <h3 class="font-medium">{{jest}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#9a405b] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/figma.png" alt="Figma Logo" class="w-8 h-10 mb-1">
                        <h3 class="font-medium">{{figma}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#ff3939] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/primeNg.png" alt="PrimeNG Logo" class="w-8 h-10 mb-1">
                        <h3 class="font-medium">{{primeng}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#c3002f] transition-all duration-300 group-hover:w-full"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="py-24">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold mb-12 text-center">{{backend_development_skills}}</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-6">
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/java.png" alt="Java Logo" class="w-10 h-11 mb-1">
                        <h3 class="font-medium">{{java}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#0e8ac8] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/spring.png" alt="Spring Logo" class="w-12 h-11 mb-1">
                        <h3 class="font-medium">{{spring_boot}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#8bc34a] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/mysql.png" alt="MySQL Logo" class="w-12 h-11 mb-1">
                        <h3 class="font-medium">{{mysql}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#00658c] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/aws.png" alt="AWS Logo" class="w-12 h-8 mb-1">
                        <h3 class="font-medium">{{aws}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#f7991d] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/kafka.png" alt="Kafka Logo" class="w-8 h-11 mb-1">
                        <h3 class="font-medium">{{kafka}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#fffeff] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/redis.png" alt="Redis Logo" class="w-9 h-9 mb-1">
                        <h3 class="font-medium">{{redis}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#d82a20] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/junit5.png" alt="Junit Logo" class="w-9 h-9 mb-1">
                        <h3 class="font-medium">{{junit}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#25a162] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/mockito.png" alt="Mockito Logo" class="w-20 h-7 mb-1">
                        <h3 class="font-medium">{{mockito}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#6ca824] transition-all duration-300 group-hover:w-full"></span>
                </div>
                <div class="group relative p-6 bg-gray-800 rounded-lg hover:bg-gray-700 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/postman.png" alt="Postman Logo" class="w-9 h-9 mb-1">
                        <h3 class="font-medium">{{postman}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#fd6c35] transition-all duration-300 group-hover:w-full"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="py-24 bg-gray-800/50">
        <div class="max-w-full mx-auto px-4 sm:px-6 lg:px-8">
            <h2 class="text-3xl font-bold mb-12 text-center">{{tools_others}}</h2>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-6">
                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/git.png" alt="Git Logo" class="w-10 h-10 mb-1">
                        <h3 class="font-medium">{{git}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#f05030] transition-all duration-300 group-hover:w-full"></span>
                </div>
                
                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/sonarqube.svg" alt="Sonarqube Logo" class="w-11 h-10 mb-2">
                        <h3 class="font-medium">{{sonarqube}}</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#499cd2] transition-all duration-300 group-hover:w-full"></span>
                </div>

                <div class="group relative p-6 bg-gray-900 rounded-lg hover:bg-gray-800 transition-all duration-300 transform hover:-translate-y-1">
                    <div class="flex flex-col items-center justify-center h-full">
                        <img src="assets/icons/grafana.png" alt="Grafana Logo" class="w-11 h-10 mb-2">
                        <h3 class="font-medium">Grafana</h3>
                    </div>
                    <span class="absolute bottom-0 left-0 w-0 h-1 bg-[#f3821c] transition-all duration-300 group-hover:w-full"></span>
                </div>
            </div>
        </div>
    </div>
</div>

