<div class="first-container">
    <video #backgroundVideo 
            loop
            oncanplay="this.play()" onloadedmetadata="this.muted = true"
            class="background-video">
        <source src="../../assets/fog_1.mp4" type="video/mp4">
    </video>

    <div class="text-container">
        <div class="name-container">
            <h1 class="name"> {{ name }} </h1>
        </div>
        <div class="title-container">
            <span class="title"> {{ title }} </span>
        </div>
    </div>
</div>
<div class="second-container">
    g <br>
    g <br>
    g <br>
    g <br>
    gg <br>
    hhhh <br>
    qwe <br>
    rtrtrt <br>
</div>

<div class="main-layout-container">
    <app-home></app-home>
</div>