<div class="min-h-screen bg-gradient-to-br from-indigo-50 via-white to-purple-50">
    <div class="container mx-auto px-4 py-16 min-h-screen flex items-center">
        <div class="w-full max-w-6xl mx-auto grid md:grid-cols-2 gap-36 items-center">
            
            <div class="order-2 md:order-1 relative">
                <div class="absolute inset-0 bg-indigo-600 rounded-2xl transform rotate-6 scale-105 opacity-10 mix-blend-normal"></div>
                <img src="../../../assets/me.png" alt="Tasnid Mahin's pic" 
                    class="w-full h-[500px] object-cover rounded-2xl shadow-xl relative">
            </div>
            
            <div class="order-1 md:order-2 space-y-8">
                <div>
                    <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4">
                        {{name}}
                    </h1>
                    <h2 class="text-xl text-indigo-600 font-semibold">
                        {{title}}
                    </h2>
                </div>


                <blockquote class="text-lg text-gray-700 border-l-4 border-indigo-500 pl-4 italic">
                    "I believe in crafting digital experiences that merge creativity with
                    functionality. Every line of code I write is an opportunity to make
                    the web a more beautiful and accessible place."
                </blockquote>


                <p class="text-gray-600 leading-relaxed">
                    With over 3 years of experience in full-stack development, I
                    specialize in building scalable web applications that prioritize user
                    experience. When I'm not coding, you'll find me exploring new
                    technologies or contributing to open-source projects.
                </p>

                <div class="flex gap-8">
                    <a href="https://github.com/tasnidmahin" target="_blank" class="text-gray-600 text-3xl scale-150 hover:text-black transition-colors">
                      <i class="pi pi-github"></i>
                    </a>
                    <a href="https://linkedin.com/in/tasnidmahin/" target="_blank" class="text-gray-600 text-3xl scale-150 hover:text-blue-700 transition-colors">
                      <i class="pi pi-linkedin"></i>
                    </a>
                    <a href="https://x.com/tasnid_mahin" target="_blank" class="text-gray-600 text-3xl scale-150 hover:text-blue-400 transition-colors">
                      <i class="pi pi-twitter"></i>
                    </a>
                    <a href="mailto:tasnidmahin@gmail.com" target="_blank" class="text-gray-600 text-3xl scale-150 hover:text-red-500 transition-colors">
                      <i class="pi pi-envelope"></i>
                    </a>
                </div>                  
            </div>
        </div>
    </div>
</div>
