<div class="h-screen">
  <div class="py-16 flex items-center justify-center">
    <h2 class="text-4xl font-bold text-gray-900"> {{my_experiences}}</h2>
  </div>
  
  <div class="pt-10">
    <p-timeline [value]="experiences" align="alternate">

      <ng-template pTemplate="marker" let-experience>
        <span class="flex items-center justify-center w-8 h-8 z-1 rounded-xl bg-blue-300">
          <i [class]="experience.icon"></i>
        </span>
      </ng-template>
  
      <ng-template pTemplate="content" let-experience>
        <div class="mx-5 p-7 bg-sky-400 rounded-lg shadow-xl shadow-sky-500">
          <h3 class="text-lg font-bold text-gray-900">{{ experience.position }}</h3>
          <p class="text-gray-900">{{ experience.company }} ({{ experience.year }})</p>

          <div class="text-gray-700 mt-3">
            <p>{{experience.description.HEADLINE}}</p>
            <ul class="list-none space-y-2 text-gray-700 mt-5">
              <li 
                *ngFor="let point of [experience.description.POINT_1, experience.description.POINT_2, experience.description.POINT_3, experience.description.POINT_4]; let i = index"
                class="relative flex items-center"
                [ngClass]="isEven(getIndex(experience)) ? 'justify-start' : 'justify-end'"
              >
                <span *ngIf="isEven(getIndex(experience))" class="mr-2 text-black text-lg">
                  ✓
                </span>
                <span class="text-gray-900">
                  {{ point }}
                </span>
                <span *ngIf="!isEven(getIndex(experience))" class="ml-2 text-black text-lg">
                  ✓
                </span>
              </li>
            </ul>
          </div>

          <div class="mt-6 flex flex-wrap gap-2" [ngClass]="isEven(getIndex(experience)) ? 'justify-start' : 'justify-end'">
            <span class="px-3 py-1 bg-white rounded-2xl text-sm text-gray-700" *ngFor="let stack of experience.stack"> 
              {{stack}}
            </span>
          </div>

        </div>
      </ng-template>
      
    </p-timeline>
  </div>
</div>